.navbar-nav .nav-link{
  color: whitesmoke;
}

.dropend .dropdown-toggle{
  color: darkgray;
  margin-left: .1em;
}

.dropdown-item:hover{
background-color: lightblue;
color: whitesmoke;
}

.dropdown .dropdown-menu{
  display: none;
  text-align: left;
}

.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
  display: block;
  margin-top: .125em;
}
@media screen and (min-width:769px) {
  .dropend:hover > .dropdown-menu{
      position: absolute;
      top: 0;
      left: 100%;
  }
}
.dropend .dropdown-toggle{
  margin-left: .5em;
}